<!DOCTYPE html>
{% extends 'testapp/base.html' %}

  {% block body_block %}
    <div class="container">
      <h1><a class="btn btn-lg btn-success" href="/residents">Click here to view the residents of society..!!</a></h1><br><hr>
      <h1><a class="btn btn-lg btn-success" href="/visitors">Click here to view the visitors of society..!!</a></h1><br><hr>
      <h1><a class="btn btn-lg btn-success" href="/workers">Click here to view the workers of society..!!</a></h1><br><hr>
      <h1><a class="btn btn-lg btn-success" href="/companys">Click here to view the Companies..!!</a></h1><br><hr>
      <h1><a class="btn btn-lg btn-success" href="/deliverys">Click here to view the deliveries..!!</a></h1><br><hr>

    </div>

  {% endblock %}
